@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Dashboard />

@*
<h1>@ahojSvete</h1>

Welcome to your new app.

<br>

<button @onclick="Increment">Moje tlacitko</button>


<br>
Hondota pocitadla @counter;

@code
{
    string ahojSvete = "Ahoj svete";

    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
*@
